* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.label, .contacto-h3, .contacto-h2, .contactanos-h3, .titulo-nosotros, .derecho, .nombre-abogado, .h2-index, a, h1 {
  text-shadow: 0 0 4px #000;
}

body {
  background-image: url(../assets/marmol-fondo2.avif);
  margin: 0;
  padding: 0;
  background-size: cover;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4666666667), transparent);
  padding: 0.5rem;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul ul li {
  text-decoration: none;
  list-style: none;
}

.logo {
  max-width: 3rem;
}

@media (min-width: 768px) {
  .logo {
    max-width: 5rem;
  }
}
h1 {
  color: #fff;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem;
}
a:hover, a:active {
  color: rgb(255, 202, 69);
  transition: 0.5s;
}

footer {
  padding: 1rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7490196078));
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  footer {
    font-size: 1.5rem;
  }
}
main {
  align-items: center;
}

.img-main-index {
  height: 40rem;
  width: 98%;
  height: 28rem;
  margin: 1%;
  border-radius: 2rem;
  box-shadow: 0 0 3px #fff;
}

@media (min-width: 768px) {
  .img-main-index {
    height: 45rem;
  }
}
.h2-index {
  color: #fff;
  position: absolute;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 9rem;
}

@media (min-width: 768px) {
  .h2-index {
    font-size: 8rem;
    margin-left: 15rem;
    margin-top: 15rem;
  }
}
.texto-index p {
  font-size: 1.2rem;
  color: #000;
  text-align: center;
  margin: 0;
  margin: 0.8rem;
}

@media (min-width: 768px) {
  .texto-index p {
    font-size: 1.3rem;
    margin: 2rem;
  }
}
.imagen-texto-index2 {
  background-image: url(../assets/imgapreton.jpg);
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .imagen-texto-index2 {
    background-attachment: fixed;
  }
}
.links-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-index {
  padding: 4rem;
  background-color: rgba(128, 128, 128, 0.8980392157);
  margin: 0.5rem;
  text-align: center;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .link-index {
    padding: 4rem;
    margin: 1rem;
  }
}
.lista-index {
  padding-bottom: 1rem;
}

.a {
  margin: 0;
}

.a:hover {
  color: rgb(255, 202, 69);
  transition: 0.5s;
}

.newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mail-newsletter {
  width: 60%;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .mail-newsletter {
    width: 50rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
  }
}
.enviar-newsletter {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  margin-left: 35%;
  margin-top: 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.8980392157);
  border: none;
}

@media (min-width: 768px) {
  .enviar-newsletter {
    width: 15rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
.enviar-newsletter:hover {
  color: #daa520;
}

.correo {
  width: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .correo {
    width: 5rem;
  }
}
.main-profesionales {
  display: flex;
}

aside {
  width: 20%;
  margin: 1rem;
}

@media (min-width: 768px) {
  aside {
    width: 30%;
    margin: 3rem;
  }
}
aside div {
  width: 5.5rem;
  height: 110rem;
  background-color: rgba(128, 128, 128, 0.8980392157);
  border-radius: 2rem;
  color: #fff;
  text-align: center;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  aside div {
    width: 50%;
    height: 125rem;
    border-radius: 3rem;
    text-align: center;
    margin-left: 5rem;
  }
}
.titulo-profesionales {
  font-size: 7rem;
}

@media (min-width: 768px) {
  .titulo-profesionales {
    font-size: 8rem;
  }
}
.seccion-profesionales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.abogado {
  width: 5rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .abogado {
    width: 15rem;
  }
}
.nombre-abogado {
  background-color: rgba(128, 128, 128, 0.8980392157);
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 10rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .nombre-abogado {
    padding: 1.5rem;
    width: 20rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-left: 30rem;
  }
}
.p-abogado {
  font-size: 1rem;
  color: #000;
  margin-left: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .p-abogado {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
}
.info-abogado {
  display: flex;
  flex-direction: row;
}

.seccion-especialidad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .seccion-especialidad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  }
}
.imagen-especialidad {
  width: 8rem;
  border-radius: 2rem;
  margin: 4rem 1rem;
}

@media (min-width: 768px) {
  .imagen-especialidad {
    width: 20rem;
    border-radius: 2rem;
    margin: 4rem 6rem;
  }
}
.derecho {
  background-color: rgba(128, 128, 128, 0.8980392157);
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 14rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin-left: 1.5rem;
}

@media (min-width: 768px) {
  .derecho {
    padding: 2rem;
    width: 30rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-left: 22.6%;
  }
}
.p-derecho {
  font-size: 1rem;
  color: #000;
  text-align: left;
}

@media (min-width: 768px) {
  .p-derecho {
    font-size: 1.3rem;
  }
}
.info-especialidad {
  display: flex;
  flex-direction: row;
}

.titulo-nosotros {
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

@media (min-width: 768px) {
  .titulo-nosotros {
    font-size: 5rem;
  }
}
.info-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .info-nosotros {
    flex-direction: row;
  }
}
.img-nosotros {
  width: 27rem;
  border-radius: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .img-nosotros {
    width: 50rem;
    border-radius: 3rem;
    align-items: center;
    margin-left: 1rem;
  }
}
.parrafo-nosotros {
  font-size: 1rem;
  text-align: center;
  color: #000;
}

@media (min-width: 768px) {
  .parrafo-nosotros {
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem;
  }
}
.seccion-contactanos {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactanos-h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

@media (min-width: 768px) {
  .contactanos-h3 {
    font-size: 1rem;
  }
}
.contactanos-boton {
  padding: 0.5rem;
  background-color: rgba(128, 128, 128, 0.8980392157);
  text-align: center;
  font-size: 1rem;
  border-radius: 1.5rem;
}

.contacto-h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .contacto-h2 {
    font-size: 3rem;
  }
}
.contacto-h3 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .contacto-h3 {
    font-size: 4rem;
  }
}
.label {
  font-size: 1.3rem;
  color: #fff;
}

.form {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.form-input :is(input, textarea) {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 4px;
  border: none;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.form-input textarea {
  height: 6rem;
}

.form-input input[type=submit] {
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.8980392157);
  color: #fff;
  border-radius: 1rem;
}

/*# sourceMappingURL=styles.css.map */
