
/* Estilos Generales */

* {
    font-family: sans-serif;
}

body {
    background-image: url(../assets/marmol-fondo2.avif);
    margin: 0;
    padding: 0;
    background-size: cover;
}

header {
    background: linear-gradient( #00000077, transparent);
    padding: .5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    max-width: 8rem;
}

h1 {
    color: #fff;
    text-shadow:0 0 2px #000;
    font-size: 2rem;
}

nav ul {
    display: flex;
}

ul li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    text-shadow:0 0 2px #000;
    color: #fff;
    margin: 1rem;
}

footer {
    padding: 1rem;
    background: linear-gradient(transparent, #000000bf);
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*  Fin estilos generales */


/* estilos index */

main {
    align-items: center;
}

.img-main-index{
    height: 40rem;
    width: 98%;
    margin: 1%;
    border-radius: 2rem;
    box-shadow: 0 0 3px #fff;
}

.h2-index {
    color:#fff;
    text-shadow: 0 0 4px #000;
    position: absolute;
    font-size: 8rem;
    text-align: center;
    margin-top: 15rem;
}

.texto-index {
    font-size: 1.8rem;
    padding: 4.5rem;
    color: #000000d0;
    text-align: center;
}

.links-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.link {
    padding: 4rem;
    background-color: #000;
    width: 15rem;
    margin: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.a {
    margin: 0;
}

.newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mail-newsletter {
    width: 35rem;
    height: 2.5rem;
    font-size: 1.8rem;
    text-align: center;
}

.enviar-newsletter {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin-left: 1rem;
}

.correo {
    width: 5rem;
}


/* Fin estilos index */

/*  Estilos Profesionales */

.main-profesionales {
    display: flex;
}

aside {
    width: 40%;
    margin: 3rem;
}

aside div {
    width: 30%;
    height: 60rem;
    background-color: gray;
    border-radius: 3rem;
    color: white;
    text-align: center;
    margin-left: 10rem;
}

.titulo-profesionales {
    font-size: 4rem;
}

.seccion-profesionales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.abogado {
    width: 8rem;
    border-radius: 2rem;
}

.nombre-abogado {
    background-color: gray;
    color: #fff;
    text-shadow: 0 0 4px #000;
    text-align: center;
    padding: 2rem;
    width: 20rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-left: 1.5rem;
}

.p-abogado {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 6px #000;
}

.info-abogado{
    display: flex;
    flex-direction: row;
}


/* Fin estilos Profesionales */

/* Estilos Especialidad */

.seccion-especialidad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}

.imagen-especialidad {
    width: 20rem;
    border-radius: 2rem;
    margin: 4rem 6rem;
}

.derecho {
    background-color: gray;
    color: #fff;
    text-shadow: 0 0 4px #000;
    text-align: center;
    padding: 2rem;
    width: 30rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-left: 10rem;
}

.p-derecho {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: center;
}

.info-especialidad{
    display: flex;
    flex-direction: row;
}


/* Fin estilos especialidades */

/* Estilos Nosotros */

.titulo-nosotros {
    font-size: 7rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.p-nosotros {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 6px #000;
    margin: 2rem;
}

.contactanos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactanos-h3 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.contactanos-a {
    padding: 1rem;
    background-color: gray;
    text-align: center;
    font-size: 2rem;
    border-radius: 1.5rem;
}

/* Fin estilos nosotros */

/* Estilos contacto */

.contacto-h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
}

.contacto-h3 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
}

.label {
    font-size: 1.3rem;
    color: #fff;
    text-shadow: 0 0 6px #000;
}

.form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.form-input :is(input,textarea) {
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    margin: 4px;
    border: none;
    box-shadow: 0px 0px 9px #0003;
}

.form-input textarea {
    height: 6rem;
}

.form-input input[type="submit"] {
    padding: 1rem;
    background-color: gray;
    color: #fff;
    border-radius: 1rem;
}

/* Fin estilos Contacto */