
.main-profesionales {
    display: flex;
}


.seccion-profesionales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.info-abogado{
    display: flex;
    flex-direction: row;
}

.abogado {
    width: 9rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

@media(min-width:768px){
    .abogado {
        width: 15rem;
        margin-left: 15rem;
    }
}

.nombre-abogado {
    background-color: $colorFondo;
    color: $colorTexto;
    @extend%textShadow;
    text-align: center;
    padding: 1rem;
    width: 13rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-left: 1.8rem;
    margin-top: 3rem;
}

@media(min-width:768px){
    .nombre-abogado {
        padding: 1rem;
        width: 30rem;
        font-size: 2.5rem;
        border-radius: 2rem;
        margin-top: 5rem;
        margin-left: 12rem;
    }
}

.p-abogado {
    font-size: 1.1rem;
    color: $colorOscuro;
    margin-left: 2rem;
    text-align: center;
}

@media(min-width:768px){
    .p-abogado {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
}

